*{
    margin: 0px;
}
.sirio{
    background-color:  #a9d1e2;
}

.navigation{
    background-color: white; 
    display: flex;
    flex-direction: row;

}
.left{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    font-size: 20px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;


}

.title{
    color:  #3284a5;
}

.titlegrade{
    color:  black;
    font-size: 30px;
    margin-left: 30px;
}

.s{
    padding: 2px 18px;
    border-radius:50%;
    background-color:  #66b2d0;
    color: white;
    margin-right: 5px;
    
}

.sign{
    color:#707070
}

.signgpa{
    color: black;
    margin-right: 50px;
}

.create{
    padding: 4px 15px;
    border-radius: 100px 100px 100px ;
    background-color: #3284a5;
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

}

.smiddle{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    
    justify-content: center;
  
    width: 500px;
}
.middle{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -30px;
    align-items: center;
    background-color: white;
    border-radius:10%;
    justify-content: center;
    left:50%;
    width: 500px;
}

.insideBcolor{

    border-radius: 30px 30px 30px 30px;
    padding: 11px 100px;
    width: 25px;
    height: 300px;
    background-color: blue;

}

.middles{
    padding: 2px 23px;
    border-radius:50%;
    background-color:  #66b2d0;
    color: white;
    margin-right: 5px;
    font-size: 50px;
    border-style: solid;
    

}

.chatboxname{
    border-style: solid;
    border-color:#001968 ;
    width: 650px;
    height: auto;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}
.chatboxinside{
    border-style: solid;
    border-color:#001968 ;
    width: 650px;
    border-top-color: transparent;
    display: flex;
    flex-direction: column;
    margin-right: 40px;



}
.champlogo{
    width: 170px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.chararound{
    padding: 9px 15px;
    border-radius: 100px 100px 100px;
    background-color: #001968;
    font-size: 15px;
    color: white;
    margin: 10px;
    margin-left: auto;


    
}
.iconmargin{
    margin:10px;
}
.appleicon{
    margin: 20px;
    margin-bottom: 10px;
}
.movetoright{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.chatleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 15px;
    border-radius: 100px 100px 100px ;
    background-color: #001968;
    font-size: 15px;
    color: white;
    margin: 10px;
    width: 300px;
    height: 20px;
    

}
 .shortleft{
    width: 100px;
}
.middlein{
    margin: 20px;
    font-size: 50px;
    color:  #1b7092
}

.email{
    background-color:  #7ab5d0;
    border-radius: 0px 25px 0px 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

.type{
    background-color:#a9d1e2;
    border-radius: 0px 0px 20px 20px;
    width: 300px;
    height: 40px;

}

.totalemail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.endattend{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    
}

.password{
    margin-bottom: 70px;
}

.math{
    background-color: white;
}

.righthome{
    background-color: #a9d1e2;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.lefthome{
    background-color: white;
    border-style: solid;
    border-color:  #7ab5d0;
    color: #1b7092;
    width: 300px;
}
.lefthome h2{
    margin: 20px;
}
.lefthome h3{
    margin: 10px;
    margin-top: 170px;
}

.righthome{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.monday{
    background-color: #1b7092;
    margin-left: 10px;
}

.mtwtf{
    background-color:  #1b7092;
    margin: 0px;
    color: white;
    width:170px;

}

.math{
    margin-bottom: 4px;

    color:#1b7092;
    height: 130px;
}
.math p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.homeSchedule{
    color: white;
    margin:20px;
    font-size: 50px;
   
}

.schedulenext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entirehome{
    display: flex;
    flex-direction: row;
}
.white{
    background-color: white;
    height: 50px;
    width: 170px;
}

.allchamp{
    display: flex;
    flex-wrap: wrap;
}

.chat{
    margin-left: 5px;
}
.chatright{
    margin-right: 5px;
}
.champnavi{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #001968;
    width: 250px;
    color: white;
}

.chatrightlivia{
    margin: 20px;
}
.inchatrightlivia{
    margin: 20px;
    margin-top: 10px;
}
.champnavi h3{
    margin: 30px;
    margin-bottom:0px;
}

.middlechat{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.middlechatlivia{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.middlechatlivia{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.champtop{
    background-color: #ffc83b; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 80px;

}
.assignments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-between;
    margin-top: 20px;
}


.assignments h3{
    margin-top: 10px;
}
.seemore{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    text-decoration: underline;

    
    
}

.allrightunder{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
    margin-right:0px;
    width: 950px;
}
.allright{
    background-color:  #004cbf;
}

.bluebox{
    background-color: #001968;
    width: 40px;
    height :140px;
}

.rightleft{
    color: white;
    display:flex;
    flex-direction: column;
    
}

.rightleft .seemore{
    display:flex;
    align-items: flex-end;

}

.rightleft h3{
    margin-top: 5px;
}

.bp{
    color: white;
    background-color: #001968;
    width: 200px;
    height: 200px;
    font-size: 150px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom:20px ;
    border-radius: 30px 30px 30px 30px;


}

.rightright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chamcreate{
    padding: 4px 15px;
    border-radius: 100px 100px 100px ;
    background-color: #001968;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

}

.bluebox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.verytop{
     display: flex;
     flex-direction: row;

}
.triangle-left {
 
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #ffc83b;
	border-bottom: 10px solid transparent;
}

.menu div{
    width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.menu{
    margin-left: 1150px;
    margin-top: 50px;
}

.colorO{
    width: 35px;
    height: 5px;
    background-color:  #f4b30c;
    border-radius: 30px 30px 30px 30px;
    padding: 8px 10px;

}

.cy{
    background-color:  #ffdc1d;

}
.cp{
    background-color:   #ff6f6f;

}.cg{
    background-color:  #73e0ce;

}.cr{
    background-color:  #e83434;

}
.entiregrade{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
}
.battery{
    display: flex;
    flex-direction: column;
    
}
.battery p{
    margin-bottom: 35px;
    font-size: 27px;

}
.battery h3{
    font-size: 43px;
}
.topB{
    border-radius: 30px 30px 30px 30px;
    padding: 11px 80px;
    width: 25px;
    margin-top: 30px;
    border-color: black;
    border-style:solid;
    background-color: white;
}

.topc{
    border-radius: 15px 15px 0px 0px;
    padding: 18px 50px;
    width: 25px;
    margin-top: 30px;
    border-color: black;
    border-style:solid;
    border-bottom-color: transparent;

    background-color: white;
    z-index: 10;
}

.givingplace{
    position: relative;
  width: 225px;
}
.givingplacec{
    position: relative;
    width: 265px;
    height: 300px;

}

.at98{
    position: absolute;
    top: 120px;
    font-size: 20px;
    font-weight: bold;

}

.makingB{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insideB{
    border-radius: 30px 30px 30px 30px;
    
    border-color: black;
    border-style:solid;
    background-color: white;
}

.insidec{
    border-radius: 15px 15px 15px 15px;
    
    border-color: black;
    border-style:solid;
    background-color: white;
    margin-top: -2px;

}
.due{
    text-align: center;
}
.lazy{
    margin-left: -40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;

}

.changeinside{
    border-radius: 30px 30px 30px 30px;
    padding: 11px 100px;
    width: 25px;
    margin-top: 30px;
    background-color:  #73e0ce;
}

.changeinsidec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 15px 15px 15px 15px;
    padding: 5px 10px;
    width: 240px;
    background-color:  #73e0ce;
    margin: 5px;
}

.month .changeinsidec{
    padding: 10px 10px;

}

.changeinsidec h3{
    font-size: 15px;
}
.centerimg{
    display: block;
  margin-left: -50px;
  margin-right: auto;
  width: 60%;
  text-align: center;
}
.gradedetail{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;

}
.gradedetail .leftscore{
  

    text-align: center; 
}



.leftscore{
    margin-right: 20px;
    
    border-radius: 30px 30px 30px 30px;
    padding: 3px 10px;
    width: 30px;
    background-color: #f4b30c;
    font-size: 20px;

}

.leftscorer{
    margin-right: 20px;
    
    border-radius: 30px 30px 30px 30px;
    padding: 3px 10px;
    width: 30px;
    background-color:#ff6f6f;
    font-size: 20px;

}

.leftscorey{
    margin-right: 20px;
    
    border-radius: 30px 30px 30px 30px;
    padding: 3px 10px;
    width: 30px;
    font-size: 20px;

    background-color:  #ffdc1d;

}

.stuzzlep{
margin-top: 45px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.sideb{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.sideb .colorO{
    margin-left: 10px;
}
.colorassign{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.two{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.two h3{
 margin-left: 10px;
}

.righteverything h3{
    color:  #888888;

}
/*어쩌구 :hover*/

.detialcolumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 130px;
}

.orangesub{
    border-radius: 30px 30px 30px 30px;
    padding: 3px 10px;
    background-color:  #ffdc1d;
}

 .today{
    font-size: 13px;
}

.today h3{
    font-size: 13px;
}

.today .changeinsidec{
    width: 170px;
}

.month .changeinsidec{
    width: 170px;
    font-size: 13px;

}

.topicdue{
    font-size: 20px;
}

.monthabove{
    margin-top: 50px;
}

.stuzzleAssign{
    font-size: 40px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.stuzzlecalandar{
    font-size: 30px;
    margin-left: 90px;
    margin-bottom: 20px;
}
.percent{
    margin-top: 20px;
}

.gray{
    background-color:  #e5e5e5 ;
}

.sumorange{
    background-color:  #f58500;
}

.sumred{
    background-color:  #ff6f6f
}

.hanger{
    border-radius: 30px 30px 30px 30px;
    padding: 37px 3px;
    width: 30px;
    margin: 20px;
    border-style: solid;
    border-color: black;
        background-color:  #efe3af;   
}

.hangerflex{
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: space-around;
}

.calendar{
    border-radius: 30px 30px 20px 20px;
    padding: 20px 3px;
    width: 470px;
    
    margin-left: 20px;
    margin-top: -60px;
    border-style: solid;
    border-color: black;
    background-color:  #73e0ce;
}

.insidecalendar{
    border-radius: 10px 10px 10px 10px;
    padding: 7px 3px;
    background-color: white;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto;
}
.insidecalendary{
    border-radius: 10px 10px 10px 10px;
    padding: 7px 3px;
    background-color: white;
    width: 190px;
    margin-left: 40px;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    margin-top: 20px;

    
}

.underoct{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto;
}

.day{
    letter-spacing: 4px;
}
.october{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;

}
.calendar{
    text-align: center;
}

.weekm{

    
}
.day1{
    letter-spacing: 0.5px;

}


.insidecalendarb{

    font-size: 20px;



    border-radius: 10px 10px 10px 10px;
    padding: 7px 3px;
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.colordayyellow{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color:  #ffdc1d;
}

.colordayyellow2{

    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color:  #ffdc1d;
    width: 100px;
    margin-top: 10px;
    height: 25px;
}

.colordayorange{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color: #ff6f6f;

}

.stuzzlemonth{
    margin-top: 30px;
}

.coloryellowred{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color:   #f4b30c;

}

.c12{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color:  #ffdc1d;
    margin-right: 3px;
    letter-spacing: 2px;
}

.c20{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color: #ff6f6f;
    margin-right: 3px;
    letter-spacing: 2px;

}

.c30{
    border-radius: 10px 10px 10px 10px;
    padding: 1px 1px;
    background-color:   #f4b30c;
    margin-right: 3px;
    letter-spacing: 2px;

}

.colorrow{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.calcard{
    border-style: solid;
    margin: 19px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;

}

.calcard h3{
    font-size: 30px;
}

.calendarright{
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 160px 160px 160px;

    margin-left: 30px;
    margin-top: 50px;
    text-align: center;
}
.totalcalendar{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.redcard{
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;
    background-color:  #ff6f6f;
    width: 87.5px;
    height: 87.5px;

    margin-top: -50px;
    margin-left: -10px;
    position: absolute;
    z-index: -3;
}

.red2{
    margin-left: 10px;

}

.yellowcard{
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;
    background-color:  #ffdc1d;
    width: 87.5px;
    height: 87.5px;

    margin-top: -50px;
    margin-right: -60px;
    margin-left: 5px;
    position: absolute;
    z-index: -3;
}

.y2{
    margin-left: 10px;
    margin-top: 0px;

}
.greencard{
    border-radius: 20px 20px 20px 20px;
    padding-top: 30px;

    background-color:   #73e0ce;
    width: 87.5px;
    height: 87.5px;
    
    margin-right: -60px;
    margin-left: 5px;
    position: absolute;
    z-index: -3;
}

.g2{
    width: 220px;
    height: 40.5px;

}

.AAAtop{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AAAtop h2{
    color: white;
}

.aaaright{
    display: flex;
    flex-direction:  row;
}

.stuzzlelogo{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.stuzzlelogo h1{
    font-size: 25px;
    margin-left: 10px;
}

.slogo{
    width: 40px;
    height:  50px;
}

.stuzzlemiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stuzzleannounce{
    display: flex;
    flex-direction: row;
    margin-top: 70px;

}
.stuzzleannounce h1{
    margin-left: 30px;
}

.stuzzleannounce img{
    width: 70px;
    height: 40px;
}

.stuco{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

.stuco img{ 
    width: 100px;
    height: 50px;
}

.threecircle{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;

}

.osc{
    background-color: orange;
    padding: 7px 7px;
    border-radius: 50% 50% 50% 50% ;
    margin-left: 30px;
}

.bsc{
    background-color: #73e0ce;
    padding: 7px 7px;
    margin-left: 30px;

    border-radius: 50% 50% 50% 50% ;
}

.homefline{
    display: flex;
    flex-direction: row;

}

.fone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

}

.fone img{
    width: 60px;
    height: 60px;

}

.fone h2{
    margin-left: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 10px;
    width: 20px;
  }
  
  .arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrowleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .entirestuzzle{
    display: flex;
    flex-direction: row;

  }

  .stuzzleright{
      width: 300px;
      height: 650px;
      background-color:  #73e0ce;
  }

  .stuzzlebigleft{
      margin:auto;
      width: 900px;
  }


  .stuzzlepeople{
    float: right;
    width: 70px;
    height: 70px;
    margin: 20px;
    margin-top: 30px;    

}

.whathappen{
    margin-top: 120px;
}

.whathappen ul{
    margin-top: 20px;

}
.stuzzleright li{
    margin-left: 25px;
}
.stuzzleright h2{
    margin-left: 35px;

}

.stuzzlenotehome{
    margin-top: 20px;
}

.stuzzlenotein{
    border-radius: 10px 10px 10px 10px;
padding: 7px 3px;
background-color: white;
width: 190px;
margin-left: 40px;
margin-right: auto;
border-style: solid;
border-color: black;
margin-top: 20px;
}


.stuzzlenotein h2{
    font-size: 15px;
    
}

.redcolorbb{
    border-radius: 10px 10px 10px 10px;
    background-color:  #ff6f6f;
    width: 65px;
    height: 10px;
    margin-top: 10px;
    height: 25px;
}